Repository neville-nazerane/inventory: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/WebApi.yaml, pipelines/website.yaml

Path conditions:
  pipelines/WebApi.yaml: any of: src/Inventory.Models, src/Inventory.ServerLogic, src/Inventory.WebAPI, pipelines/WebApi.yaml
  pipelines/website.yaml: any of: src/Inventory.Models, src/Inventory.ClientLogic, src/Inventory.Website, pipelines/website.yaml

curdding
  src/Inventory.ServerLogic/InventoryService.cs
  src/Inventory.WebAPI/Endpoints.cs
Due: pipelines/WebApi.yaml

crud editing
  src/Inventory.Models/ItemEditorModel.cs
  src/Inventory.Models/LocationEditorModel.cs
  src/Inventory.ServerLogic/InventoryService.cs
Due: pipelines/WebApi.yaml, pipelines/website.yaml

endpoitns for crud operations
  src/Inventory.ClientLogic/ApiConsumer.cs
  src/Inventory.WebAPI/Endpoints.cs
Due: pipelines/WebApi.yaml, pipelines/website.yaml

increase/ decrease
  src/Inventory.Website/Components/Location.razor
  src/Inventory.Website/Components/Location.razor.cs
Due: pipelines/website.yaml

user fixes
  src/Inventory.ServerLogic/InventoryService.cs
  src/Inventory.Website/Components/Location.razor
  src/Inventory.Website/Components/Location.razor.cs
Due: pipelines/WebApi.yaml, pipelines/website.yaml

functionality
  src/Inventory.Website/Components/Location.razor
Due: pipelines/website.yaml

configs setup
  pipelines/WebApi.yaml
  src/Inventory.WebAPI/Program.cs
Due: pipelines/WebApi.yaml

prod setup
  src/Inventory.Website/Program.cs
Due: pipelines/website.yaml

hidden logout
  src/Inventory.Website/Layout/MainLayout.razor
Due: pipelines/website.yaml

nav hidden
  src/Inventory.Website/Layout/MainLayout.razor
  src/Inventory.Website/Layout/MainLayout.razor.cs
Due: pipelines/website.yaml

setting up for local usage
  src/Inventory.ServerLogic/Inventory.ServerLogic.csproj
  src/Inventory.WebAPI/Inventory.WebAPI.csproj
  src/Inventory.Website/Inventory.Website.csproj
  src/Inventory.Website/Program.cs
Due: pipelines/WebApi.yaml, pipelines/website.yaml

expanding patch ups
  src/Inventory.Website/Components/Location.razor
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Utils/JsExtensions.cs
  src/Inventory.Website/wwwroot/js/site.js
Due: pipelines/website.yaml

fixing swap expand
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/wwwroot/js/site.js
Due: pipelines/website.yaml

cleaning up
  src/Inventory.ClientLogic/IAuthProvider.cs
  src/Inventory.ClientLogic/Inventory.ClientLogic.csproj
  src/Inventory.Website/Inventory.Website.csproj
  src/Inventory.Website/Pages/Login.razor.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
Due: pipelines/website.yaml

abstraction
  src/Inventory.ClientLogic/IAuthProvider.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
Due: pipelines/website.yaml

refresh token setup
  src/Inventory.ClientLogic/ApiHandler.cs
  src/Inventory.ClientLogic/IAuthProvider.cs
Due: pipelines/website.yaml

fixing auth login
  src/Inventory.Website/Program.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
Due: pipelines/website.yaml

fixing up auth service
  src/Inventory.ClientLogic/Inventory.ClientLogic.csproj
  src/Inventory.Website/Inventory.Website.csproj
  src/Inventory.Website/Program.cs
  src/Inventory.Website/Services/AuthStore.cs
  src/inventory.sln
Due: pipelines/website.yaml

cleaning up auth manager
  src/Inventory.ClientLogic/IAuthProvider.cs
  src/Inventory.ClientLogic/Inventory.ClientLogic.csproj
  src/Inventory.Website/Inventory.Website.csproj
  src/Inventory.Website/Pages/Signup.razor.cs
  src/Inventory.Website/Services/AuthStore.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
Due: pipelines/website.yaml

fixing auth
  src/Inventory.ClientLogic/ApiHandler.cs
  src/Inventory.Website/Program.cs
Due: pipelines/website.yaml

sdk creation
  src/inventory.sln
Due: none

config key setup
  src/Inventory.WebAPI/Inventory.WebAPI.csproj
  src/Inventory.WebAPI/Program.cs
  src/Inventory.WebAPI/Utils/ConfigExtensions.cs
Due: pipelines/WebApi.yaml

setting up clean up background process
  src/Inventory.Background/CleanupService.cs
  src/Inventory.Background/CleanupWorker.cs
  src/Inventory.Background/Inventory.Background.csproj
  src/Inventory.Background/Program.cs
  src/Inventory.Background/Properties/launchSettings.json
  src/Inventory.Background/appsettings.Development.json
  src/Inventory.Background/appsettings.json
  src/Inventory.ServerLogic/Utils/ConfigExtensions.cs
  src/Inventory.WebAPI/Inventory.WebAPI.csproj
  src/Inventory.WebAPI/Program.cs
  src/inventory.sln
Due: pipelines/WebApi.yaml

cleaning up loign
  src/Inventory.ClientLogic/ApiHandler.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
  src/Inventory.Website/Services/WebApiHandler.cs
Due: pipelines/website.yaml

setting up background process
  pipelines/Background.yaml
  src/Inventory.Background/Program.cs
Due: none

finished setting up background process
  pipelines/Background.yaml
  pipelines/WebApi.yaml
  src/Inventory.Background/Program.cs
  src/Inventory.WebAPI/Program.cs
Due: pipelines/WebApi.yaml

added auth configs to api
  pipelines/WebApi.yaml
Due: pipelines/WebApi.yaml

updating nugets
  src/Inventory.Background/Inventory.Background.csproj
  src/Inventory.ClientLogic/Inventory.ClientLogic.csproj
  src/inventory.sln
Due: pipelines/website.yaml

fixing endpoint from client
  src/Inventory.Website/Program.cs
Due: pipelines/website.yaml

fixing configs
  src/Inventory.Website/Program.cs
  src/Inventory.Website/Services/Configs.cs
Due: pipelines/website.yaml

fetching to model
  src/Inventory.Website/Components/Location.razor
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Layout/MainLayout.razor
  src/Inventory.Website/Program.cs
  src/Inventory.Website/Services/AppState.cs
  src/Inventory.Website/_Imports.razor
Due: pipelines/website.yaml

fixed popup logic
  src/Inventory.Website/Layout/MainLayout.razor
  src/Inventory.Website/Layout/MainLayout.razor.cs
  src/Inventory.Website/Services/AppState.cs
Due: pipelines/website.yaml

deleting item popup
  src/Inventory.ClientLogic/ApiConsumer.cs
  src/Inventory.Website/Components/ItemEditor.razor
  src/Inventory.Website/Components/ItemEditor.razor.cs
  src/Inventory.Website/Layout/MainLayout.razor
  src/Inventory.Website/Layout/MainLayout.razor.cs
Due: pipelines/website.yaml

functional item delete
  src/Inventory.Website/Components/ItemEditor.razor.cs
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Services/AppState.cs
Due: pipelines/website.yaml

item crud
  src/Inventory.Website/Components/ItemEditor.razor
  src/Inventory.Website/Components/ItemEditor.razor.cs
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Services/AppState.cs
Due: pipelines/website.yaml

setting up location
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Components/LocationEditor.razor
  src/Inventory.Website/Components/LocationEditor.razor.cs
  src/Inventory.Website/Layout/MainLayout.razor
  src/Inventory.Website/Services/AppState.cs
Due: pipelines/website.yaml

location crud
  src/Inventory.ClientLogic/ApiConsumer.cs
  src/Inventory.Website/Components/Location.razor
  src/Inventory.Website/Components/Location.razor.cs
  src/Inventory.Website/Pages/Home.razor.cs
  src/Inventory.Website/wwwroot/css/app.css
Due: pipelines/website.yaml

patching
  src/Inventory.ClientLogic/ApiHandler.cs
  src/Inventory.ClientLogic/IAuthProvider.cs
  src/Inventory.Website/Services/AuthenticationManager.cs
  src/Inventory.Website/Services/WebApiHandler.cs
Due: pipelines/website.yaml
